pLaplace_1D/__pycache__/my_solvers.cpython-311.pyc
pLaplace_1D/__pycache__/my_timer.cpython-311.pyc
Michal_pLaplace/descentDirection.m
Michal_pLaplace/functionalValue.m
Michal_pLaplace/gradientMethod.m
Michal_pLaplace/main_script.m
Michal_pLaplace/mkp1d.m
Michal_pLaplace/qnorm.m
Michal_pLaplace/zlatyrez.m
pLaplace_1D/__pycache__/sparsejac.cpython-311.pyc
pLaplace_1D/__pycache__/my_solvers.cpython-39.pyc
pLaplace_1D/__pycache__/my_solvers.cpython-310.pyc
pLaplace_1D/__pycache__/my_timer.cpython-39.pyc
pLaplace_1D/__pycache__/my_timer.cpython-310.pyc
pLaplace_1D/.ipynb_checkpoints/pLaplace_jax-checkpoint.ipynb
pLaplace_1D/.ipynb_checkpoints/pLaplace_numba-checkpoint.ipynb
pLaplace_1D/.ipynb_checkpoints/pLaplace_tests-checkpoint.ipynb
pLaplace_1D/__pycache__/energy.cpython-311.pyc
pLaplace_1D/__pycache__/test_runner_1D.cpython-311.pyc
tools/__pycache__/hessian_tools.cpython-311.pyc
tools/__pycache__/minimizers.cpython-311.pyc
tools/__pycache__/sparsejac.cpython-311.pyc
pLaplace_1D/__pycache__/energy_jax.cpython-311.pyc
pLaplace_1D/__pycache__/energy_numba.cpython-311.pyc
pLaplace_1D/__pycache__/energy_numpy.cpython-311.pyc
pLaplace_1D/__pycache__/suplement_sparse_matrices.cpython-311.pyc
pLaplace_1D/__pycache__/energy_numba.cpython-38.pyc
pLaplace_1D/__pycache__/energy_numpy.cpython-38.pyc
pLaplace_1D/__pycache__/suplement_sparse_matrices.cpython-38.pyc
pLaplace_1D/__pycache__/test_runner_1D.cpython-38.pyc
tools/__pycache__/hessian_tools.cpython-38.pyc
tools/__pycache__/minimizers.cpython-38.pyc
.DS_Store
