pLaplace_1D/__pycache__/my_solvers.cpython-311.pyc
pLaplace_1D/__pycache__/my_timer.cpython-311.pyc
Michal_pLaplace/descentDirection.m
Michal_pLaplace/functionalValue.m
Michal_pLaplace/gradientMethod.m
Michal_pLaplace/main_script.m
Michal_pLaplace/mkp1d.m
Michal_pLaplace/qnorm.m
Michal_pLaplace/zlatyrez.m
pLaplace_1D/__pycache__/sparsejac.cpython-311.pyc
pLaplace_1D/__pycache__/my_solvers.cpython-39.pyc
pLaplace_1D/__pycache__/my_solvers.cpython-310.pyc
pLaplace_1D/__pycache__/my_timer.cpython-39.pyc
pLaplace_1D/__pycache__/my_timer.cpython-310.pyc
pLaplace_1D/.ipynb_checkpoints/pLaplace_jax-checkpoint.ipynb
pLaplace_1D/.ipynb_checkpoints/pLaplace_numba-checkpoint.ipynb
pLaplace_1D/.ipynb_checkpoints/pLaplace_tests-checkpoint.ipynb
pLaplace_1D/__pycache__/energy.cpython-311.pyc
pLaplace_1D/__pycache__/test_runner_1D.cpython-311.pyc
tools/__pycache__/hessian_tools.cpython-311.pyc
tools/__pycache__/minimizers.cpython-311.pyc
tools/__pycache__/sparsejac.cpython-311.pyc
pLaplace_1D/__pycache__/energy_jax.cpython-311.pyc
pLaplace_1D/__pycache__/energy_numba.cpython-311.pyc
pLaplace_1D/__pycache__/energy_numpy.cpython-311.pyc
pLaplace_1D/__pycache__/suplement_sparse_matrices.cpython-311.pyc
pLaplace_1D/__pycache__/energy_numba.cpython-38.pyc
pLaplace_1D/__pycache__/energy_numpy.cpython-38.pyc
pLaplace_1D/__pycache__/suplement_sparse_matrices.cpython-38.pyc
pLaplace_1D/__pycache__/test_runner_1D.cpython-38.pyc
tools/__pycache__/hessian_tools.cpython-38.pyc
tools/__pycache__/minimizers.cpython-38.pyc
.DS_Store
pLaplace_2D/__pycache__/energy_jax.cpython-311.pyc
pLaplace_2D/__pycache__/energy_numba.cpython-311.pyc
pLaplace_2D/__pycache__/energy_numpy.cpython-311.pyc
pLaplace_2D/__pycache__/mesh.cpython-311.pyc
pLaplace_2D/__pycache__/suplement_matrices.cpython-311.pyc
pLaplace_2D/__pycache__/test_runner_2D.cpython-311.pyc
pLaplace_2D/__pycache__/test_runner_2D.cpython-38.pyc
HyperElasticity_3D/figs/fig_1.png
HyperElasticity_3D/figs/fig_2.png
HyperElasticity_3D/figs/fig_3.png
HyperElasticity_3D/figs/fig_4.png
HyperElasticity_3D/figs/fig_5.png
HyperElasticity_3D/figs/fig_6.png
HyperElasticity_3D/figs/fig_7.png
HyperElasticity_3D/figs/fig_8.png
HyperElasticity_3D/figs/fig_9.png
HyperElasticity_3D/figs/fig_10.png
HyperElasticity_3D/figs/fig_11.png
HyperElasticity_3D/figs/fig_12.png
HyperElasticity_3D/figs/fig_13.png
HyperElasticity_3D/figs/fig_14.png
HyperElasticity_3D/figs/fig_15.png
HyperElasticity_3D/figs/fig_16.png
HyperElasticity_3D/figs/fig_17.png
HyperElasticity_3D/figs/fig_18.png
HyperElasticity_3D/figs/fig_19.png
HyperElasticity_3D/figs/fig_20.png
HyperElasticity_3D/figs/fig_21.png
HyperElasticity_3D/figs/fig_22.png
HyperElasticity_3D/figs/fig_23.png
HyperElasticity_3D/figs/fig_24.png
HyperElasticity_3D/figs/fig_25.png
HyperElasticity_3D/figs/fig_26.png
HyperElasticity_3D/figs/fig_27.png
HyperElasticity_3D/figs/fig_28.png
HyperElasticity_3D/figs/fig_29.png
HyperElasticity_3D/figs/fig_30.png
HyperElasticity_3D/figs/fig_31.png
HyperElasticity_3D/figs/fig_32.png
HyperElasticity_3D/figs/fig_33.png
HyperElasticity_3D/figs/fig_34.png
HyperElasticity_3D/figs/fig_35.png
HyperElasticity_3D/figs/fig_36.png
HyperElasticity_3D/figs/fig_37.png
HyperElasticity_3D/figs/fig_38.png
HyperElasticity_3D/figs/fig_39.png
HyperElasticity_3D/figs/fig_40.png
HyperElasticity_3D/figs/fig_41.png
HyperElasticity_3D/figs/fig_42.png
HyperElasticity_3D/figs/fig_43.png
HyperElasticity_3D/figs/fig_44.png
HyperElasticity_3D/figs/fig_45.png
HyperElasticity_3D/figs/fig_46.png
HyperElasticity_3D/figs/fig_47.png
HyperElasticity_3D/figs/fig_48.png
HyperElasticity_3D/figs/fig_49.png
HyperElasticity_3D/figs/fig_50.png
HyperElasticity_3D/figs/fig_51.png
HyperElasticity_3D/figs/fig_52.png
HyperElasticity_3D/figs/fig_53.png
HyperElasticity_3D/figs/fig_54.png
HyperElasticity_3D/figs/fig_55.png
HyperElasticity_3D/figs/fig_56.png
HyperElasticity_3D/figs/fig_57.png
HyperElasticity_3D/figs/fig_58.png
HyperElasticity_3D/figs/fig_59.png
HyperElasticity_3D/figs/fig_60.png
HyperElasticity_3D/figs/fig_61.png
HyperElasticity_3D/figs/fig_62.png
HyperElasticity_3D/figs/fig_63.png
HyperElasticity_3D/figs/fig_64.png
HyperElasticity_3D/figs/fig_65.png
HyperElasticity_3D/figs/fig_66.png
HyperElasticity_3D/figs/fig_67.png
HyperElasticity_3D/figs/fig_68.png
HyperElasticity_3D/figs/fig_69.png
HyperElasticity_3D/figs/fig_70.png
HyperElasticity_3D/figs/fig_71.png
HyperElasticity_3D/figs/fig_72.png
HyperElasticity_3D/figs/fig_73.png
HyperElasticity_3D/figs/fig_74.png
HyperElasticity_3D/figs/fig_75.png
HyperElasticity_3D/figs/fig_76.png
HyperElasticity_3D/figs/fig_77.png
HyperElasticity_3D/figs/fig_78.png
HyperElasticity_3D/figs/fig_79.png
HyperElasticity_3D/figs/fig_80.png
HyperElasticity_3D/figs/fig_81.png
HyperElasticity_3D/figs/fig_82.png
HyperElasticity_3D/figs/fig_83.png
HyperElasticity_3D/figs/fig_84.png
HyperElasticity_3D/figs/fig_85.png
HyperElasticity_3D/figs/fig_86.png
HyperElasticity_3D/figs/fig_87.png
HyperElasticity_3D/figs/fig_88.png
HyperElasticity_3D/figs/fig_89.png
HyperElasticity_3D/figs/fig_90.png
HyperElasticity_3D/figs/fig_91.png
HyperElasticity_3D/figs/fig_92.png
HyperElasticity_3D/figs/fig_93.png
HyperElasticity_3D/figs/fig_94.png
HyperElasticity_3D/figs/fig_95.png
HyperElasticity_3D/figs/fig_96.png
HyperElasticity_3D/figs/fig_97.png
HyperElasticity_3D/figs/fig_98.png
HyperElasticity_3D/figs/fig_99.png
HyperElasticity_3D/figs/fig_100.png
HyperElasticity_3D/figs/fig_101.png
HyperElasticity_3D/figs/fig_102.png
HyperElasticity_3D/figs/fig_103.png
HyperElasticity_3D/figs/fig_104.png
HyperElasticity_3D/figs/fig_105.png
HyperElasticity_3D/figs/fig_106.png
HyperElasticity_3D/figs/fig_107.png
HyperElasticity_3D/figs/fig_108.png
HyperElasticity_3D/figs/fig_109.png
HyperElasticity_3D/figs/fig_110.png
HyperElasticity_3D/figs/fig_111.png
HyperElasticity_3D/figs/fig_112.png
HyperElasticity_3D/figs/fig_113.png
HyperElasticity_3D/figs/fig_114.png
HyperElasticity_3D/figs/fig_115.png
HyperElasticity_3D/figs/fig_116.png
HyperElasticity_3D/figs/fig_117.png
HyperElasticity_3D/figs/fig_118.png
HyperElasticity_3D/figs/fig_119.png
HyperElasticity_3D/figs/fig_120.png
HyperElasticity_3D/figs/fig_121.png
HyperElasticity_3D/figs/fig_122.png
HyperElasticity_3D/figs/fig_123.png
HyperElasticity_3D/figs/fig_124.png
HyperElasticity_3D/figs/fig_125.png
HyperElasticity_3D/figs/fig_126.png
HyperElasticity_3D/figs/fig_127.png
HyperElasticity_3D/figs/fig_128.png
HyperElasticity_3D/figs/fig_129.png
HyperElasticity_3D/figs/fig_130.png
HyperElasticity_3D/figs/fig_131.png
HyperElasticity_3D/figs/fig_132.png
HyperElasticity_3D/figs/fig_133.png
HyperElasticity_3D/figs/fig_134.png
HyperElasticity_3D/figs/fig_135.png
HyperElasticity_3D/figs/fig_136.png
HyperElasticity_3D/figs/fig_137.png
HyperElasticity_3D/figs/fig_138.png
HyperElasticity_3D/figs/fig_139.png
HyperElasticity_3D/figs/fig_140.png
HyperElasticity_3D/figs/fig_141.png
HyperElasticity_3D/figs/fig_142.png
HyperElasticity_3D/figs/fig_143.png
HyperElasticity_3D/figs/fig_144.png
HyperElasticity_3D/figs/fig_145.png
HyperElasticity_3D/figs/fig_146.png
HyperElasticity_3D/figs/fig_147.png
HyperElasticity_3D/figs/fig_148.png
HyperElasticity_3D/figs/fig_149.png
HyperElasticity_3D/figs/fig_150.png
HyperElasticity_3D/figs/fig_151.png
HyperElasticity_3D/figs/fig_152.png
HyperElasticity_3D/figs/fig_153.png
HyperElasticity_3D/figs/fig_154.png
HyperElasticity_3D/figs/fig_155.png
HyperElasticity_3D/figs/fig_156.png
HyperElasticity_3D/figs/fig_157.png
HyperElasticity_3D/figs/fig_158.png
HyperElasticity_3D/figs/fig_159.png
HyperElasticity_3D/figs/fig_160.png
HyperElasticity_3D/figs/fig_161.png
HyperElasticity_3D/figs/fig_162.png
HyperElasticity_3D/figs/fig_163.png
HyperElasticity_3D/figs/fig_164.png
HyperElasticity_3D/figs/fig_165.png
HyperElasticity_3D/figs/fig_166.png
HyperElasticity_3D/figs/fig_167.png
HyperElasticity_3D/figs/fig_168.png
HyperElasticity_3D/figs/fig_169.png
HyperElasticity_3D/figs/fig_170.png
HyperElasticity_3D/figs/fig_171.png
HyperElasticity_3D/figs/fig_172.png
HyperElasticity_3D/figs/fig_173.png
HyperElasticity_3D/figs/fig_174.png
HyperElasticity_3D/figs/fig_175.png
HyperElasticity_3D/figs/fig_176.png
HyperElasticity_3D/figs/fig_177.png
HyperElasticity_3D/figs/fig_178.png
HyperElasticity_3D/figs/fig_179.png
HyperElasticity_3D/figs/fig_180.png
HyperElasticity_3D/figs/fig_181.png
HyperElasticity_3D/figs/fig_182.png
HyperElasticity_3D/figs/fig_183.png
HyperElasticity_3D/figs/fig_184.png
HyperElasticity_3D/figs/fig_185.png
HyperElasticity_3D/figs/fig_186.png
HyperElasticity_3D/figs/fig_187.png
HyperElasticity_3D/figs/fig_188.png
HyperElasticity_3D/figs/fig_189.png
HyperElasticity_3D/figs/fig_190.png
HyperElasticity_3D/figs/fig_191.png
HyperElasticity_3D/figs/fig_192.png
HyperElasticity_3D/figs/fig_193.png
HyperElasticity_3D/figs/fig_194.png
HyperElasticity_3D/figs/fig_195.png
HyperElasticity_3D/figs/fig_196.png
HyperElasticity_3D/figs/fig_197.png
HyperElasticity_3D/figs/fig_198.png
HyperElasticity_3D/figs/fig_199.png
HyperElasticity_3D/figs/fig_200.png
HyperElasticity_3D/figs/fig_201.png
HyperElasticity_3D/figs/fig_202.png
HyperElasticity_3D/figs/fig_203.png
HyperElasticity_3D/figs/fig_204.png
HyperElasticity_3D/figs/fig_205.png
HyperElasticity_3D/figs/fig_206.png
HyperElasticity_3D/figs/fig_207.png
HyperElasticity_3D/figs/fig_208.png
HyperElasticity_3D/figs/fig_209.png
HyperElasticity_3D/figs/fig_210.png
HyperElasticity_3D/figs/fig_211.png
HyperElasticity_3D/figs/fig_212.png
HyperElasticity_3D/figs/fig_213.png
HyperElasticity_3D/figs/fig_214.png
HyperElasticity_3D/figs/fig_215.png
HyperElasticity_3D/figs/fig_216.png
HyperElasticity_3D/figs/fig_217.png
HyperElasticity_3D/figs/fig_218.png
HyperElasticity_3D/figs/fig_219.png
HyperElasticity_3D/figs/fig_220.png
HyperElasticity_3D/figs/fig_221.png
HyperElasticity_3D/figs/fig_222.png
HyperElasticity_3D/figs/fig_223.png
HyperElasticity_3D/figs/fig_224.png
HyperElasticity_3D/figs/fig_225.png
HyperElasticity_3D/figs/fig_226.png
HyperElasticity_3D/figs/fig_227.png
HyperElasticity_3D/figs/fig_228.png
HyperElasticity_3D/figs/fig_229.png
HyperElasticity_3D/figs/fig_230.png
HyperElasticity_3D/figs/fig_231.png
HyperElasticity_3D/figs/fig_232.png
HyperElasticity_3D/figs/fig_233.png
HyperElasticity_3D/figs/fig_234.png
HyperElasticity_3D/figs/fig_235.png
HyperElasticity_3D/figs/fig_236.png
HyperElasticity_3D/figs/fig_237.png
HyperElasticity_3D/figs/fig_238.png
HyperElasticity_3D/figs/fig_239.png
HyperElasticity_3D/figs/fig_240.png
HyperElasticity_3D/figs/fig_241.png
HyperElasticity_3D/figs/fig_242.png
HyperElasticity_3D/figs/fig_243.png
HyperElasticity_3D/figs/fig_244.png
HyperElasticity_3D/figs/fig_245.png
HyperElasticity_3D/figs/fig_246.png
HyperElasticity_3D/figs/fig_247.png
HyperElasticity_3D/figs/fig_248.png
HyperElasticity_3D/figs/fig_249.png
HyperElasticity_3D/figs/fig_250.png
HyperElasticity_3D/figs/fig_251.png
HyperElasticity_3D/figs/fig_252.png
HyperElasticity_3D/figs/fig_253.png
HyperElasticity_3D/figs/fig_254.png
HyperElasticity_3D/figs/fig_255.png
HyperElasticity_3D/figs/fig_256.png
HyperElasticity_3D/figs/fig_257.png
HyperElasticity_3D/figs/fig_258.png
HyperElasticity_3D/figs/fig_259.png
HyperElasticity_3D/figs/fig_260.png
HyperElasticity_3D/figs/fig_261.png
HyperElasticity_3D/figs/fig_262.png
HyperElasticity_3D/figs/fig_263.png
HyperElasticity_3D/figs/fig_264.png
HyperElasticity_3D/figs/fig_265.png
HyperElasticity_3D/figs/fig_266.png
HyperElasticity_3D/figs/fig_267.png
HyperElasticity_3D/figs/fig_268.png
HyperElasticity_3D/figs/fig_269.png
HyperElasticity_3D/figs/fig_270.png
HyperElasticity_3D/figs/fig_271.png
HyperElasticity_3D/figs/fig_272.png
HyperElasticity_3D/figs/fig_273.png
HyperElasticity_3D/figs/fig_274.png
HyperElasticity_3D/figs/fig_275.png
HyperElasticity_3D/figs/fig_276.png
HyperElasticity_3D/figs/fig_277.png
HyperElasticity_3D/figs/fig_278.png
HyperElasticity_3D/figs/fig_279.png
HyperElasticity_3D/figs/fig_280.png
HyperElasticity_3D/figs/fig_281.png
HyperElasticity_3D/figs/fig_282.png
HyperElasticity_3D/figs/fig_283.png
HyperElasticity_3D/figs/fig_284.png
HyperElasticity_3D/figs/fig_285.png
HyperElasticity_3D/figs/fig_286.png
HyperElasticity_3D/figs/fig_287.png
HyperElasticity_3D/figs/fig_288.png
HyperElasticity_3D/figs/fig_289.png
HyperElasticity_3D/figs/fig_290.png
HyperElasticity_3D/figs/fig_291.png
HyperElasticity_3D/figs/fig_292.png
HyperElasticity_3D/figs/fig_293.png
HyperElasticity_3D/figs/fig_294.png
HyperElasticity_3D/figs/fig_295.png
HyperElasticity_3D/figs/fig_296.png
HyperElasticity_3D/figs/fig_297.png
HyperElasticity_3D/figs/fig_298.png
HyperElasticity_3D/figs/fig_299.png
HyperElasticity_3D/figs/fig_300.png
HyperElasticity_3D/figs/fig_301.png
HyperElasticity_3D/figs/fig_302.png
HyperElasticity_3D/figs/fig_303.png
HyperElasticity_3D/figs/fig_304.png
HyperElasticity_3D/figs/fig_305.png
HyperElasticity_3D/figs/fig_306.png
HyperElasticity_3D/figs/fig_307.png
HyperElasticity_3D/figs/fig_308.png
HyperElasticity_3D/figs/fig_309.png
HyperElasticity_3D/figs/fig_310.png
HyperElasticity_3D/figs/fig_311.png
HyperElasticity_3D/figs/fig_312.png
HyperElasticity_3D/figs/fig_313.png
HyperElasticity_3D/figs/fig_314.png
HyperElasticity_3D/figs/fig_315.png
HyperElasticity_3D/figs/fig_316.png
HyperElasticity_3D/figs/fig_317.png
HyperElasticity_3D/figs/fig_318.png
HyperElasticity_3D/figs/fig_319.png
HyperElasticity_3D/figs/fig_320.png
HyperElasticity_3D/figs/fig_321.png
HyperElasticity_3D/figs/fig_322.png
HyperElasticity_3D/figs/fig_323.png
HyperElasticity_3D/figs/fig_324.png
HyperElasticity_3D/figs/fig_325.png
HyperElasticity_3D/figs/fig_326.png
HyperElasticity_3D/figs/fig_327.png
HyperElasticity_3D/figs/fig_328.png
HyperElasticity_3D/figs/fig_329.png
HyperElasticity_3D/figs/fig_330.png
HyperElasticity_3D/figs/fig_331.png
HyperElasticity_3D/figs/fig_332.png
HyperElasticity_3D/figs/fig_333.png
HyperElasticity_3D/figs/fig_334.png
HyperElasticity_3D/figs/fig_335.png
HyperElasticity_3D/figs/fig_336.png
HyperElasticity_3D/figs/fig_337.png
HyperElasticity_3D/figs/fig_338.png
HyperElasticity_3D/figs/fig_339.png
HyperElasticity_3D/figs/fig_340.png
HyperElasticity_3D/figs/fig_341.png
HyperElasticity_3D/figs/fig_342.png
HyperElasticity_3D/figs/fig_343.png
HyperElasticity_3D/figs/fig_344.png
HyperElasticity_3D/figs/fig_345.png
HyperElasticity_3D/figs/fig_346.png
HyperElasticity_3D/figs/fig_347.png
HyperElasticity_3D/figs/fig_348.png
HyperElasticity_3D/figs/fig_349.png
HyperElasticity_3D/figs/fig_350.png
HyperElasticity_3D/figs/fig_351.png
HyperElasticity_3D/figs/fig_352.png
HyperElasticity_3D/figs/fig_353.png
HyperElasticity_3D/figs/fig_354.png
HyperElasticity_3D/figs/fig_355.png
HyperElasticity_3D/figs/fig_356.png
HyperElasticity_3D/figs/fig_357.png
HyperElasticity_3D/figs/fig_358.png
HyperElasticity_3D/figs/fig_359.png
HyperElasticity_3D/figs/fig_360.png
HyperElasticity_3D/figs/fig_361.png
HyperElasticity_3D/figs/fig_362.png
HyperElasticity_3D/figs/fig_363.png
HyperElasticity_3D/figs/fig_364.png
HyperElasticity_3D/figs/fig_365.png
HyperElasticity_3D/figs/fig_366.png
HyperElasticity_3D/figs/fig_367.png
HyperElasticity_3D/figs/fig_368.png
HyperElasticity_3D/figs/fig_369.png
HyperElasticity_3D/figs/fig_370.png
HyperElasticity_3D/figs/fig_371.png
HyperElasticity_3D/figs/fig_372.png
HyperElasticity_3D/figs/fig_373.png
HyperElasticity_3D/figs/fig_374.png
HyperElasticity_3D/figs/fig_375.png
HyperElasticity_3D/figs/fig_376.png
HyperElasticity_3D/figs/fig_377.png
HyperElasticity_3D/figs/fig_378.png
HyperElasticity_3D/figs/fig_379.png
HyperElasticity_3D/figs/fig_380.png
HyperElasticity_3D/figs/fig_381.png
HyperElasticity_3D/figs/fig_382.png
HyperElasticity_3D/figs/fig_383.png
HyperElasticity_3D/figs/fig_384.png
HyperElasticity_3D/figs/fig_385.png
HyperElasticity_3D/figs/fig_386.png
HyperElasticity_3D/figs/fig_387.png
HyperElasticity_3D/figs/fig_388.png
HyperElasticity_3D/figs/fig_389.png
HyperElasticity_3D/figs/fig_390.png
HyperElasticity_3D/figs/fig_391.png
HyperElasticity_3D/figs/fig_392.png
HyperElasticity_3D/figs/fig_393.png
HyperElasticity_3D/figs/fig_394.png
HyperElasticity_3D/figs/fig_395.png
HyperElasticity_3D/figs/fig_396.png
HyperElasticity_3D/figs/fig_397.png
HyperElasticity_3D/figs/fig_398.png
HyperElasticity_3D/figs/fig_399.png
HyperElasticity_3D/figs/fig_400.png
HyperElasticity_3D/figs/fig_401.png
HyperElasticity_3D/figs/fig_402.png
HyperElasticity_3D/figs/fig_403.png
HyperElasticity_3D/figs/fig_404.png
HyperElasticity_3D/figs/fig_405.png
HyperElasticity_3D/figs/fig_406.png
HyperElasticity_3D/figs/fig_407.png
HyperElasticity_3D/figs/fig_408.png
HyperElasticity_3D/figs/fig_409.png
HyperElasticity_3D/figs/fig_410.png
HyperElasticity_3D/figs/fig_411.png
HyperElasticity_3D/figs/fig_412.png
HyperElasticity_3D/figs/fig_413.png
HyperElasticity_3D/figs/fig_414.png
HyperElasticity_3D/figs/fig_415.png
HyperElasticity_3D/figs/fig_416.png
HyperElasticity_3D/figs/fig_417.png
HyperElasticity_3D/figs/fig_418.png
HyperElasticity_3D/figs/fig_419.png
HyperElasticity_3D/figs/fig_420.png
HyperElasticity_3D/figs/fig_421.png
HyperElasticity_3D/figs/fig_422.png
HyperElasticity_3D/figs/fig_423.png
HyperElasticity_3D/figs/fig_424.png
HyperElasticity_3D/figs/fig_425.png
HyperElasticity_3D/figs/fig_426.png
HyperElasticity_3D/figs/fig_427.png
HyperElasticity_3D/figs/fig_428.png
HyperElasticity_3D/figs/fig_429.png
HyperElasticity_3D/figs/fig_430.png
HyperElasticity_3D/figs/fig_431.png
HyperElasticity_3D/figs/fig_432.png
HyperElasticity_3D/figs/fig_433.png
HyperElasticity_3D/figs/fig_434.png
HyperElasticity_3D/figs/fig_435.png
HyperElasticity_3D/figs/fig_436.png
HyperElasticity_3D/figs/fig_437.png
HyperElasticity_3D/figs/fig_438.png
HyperElasticity_3D/figs/fig_439.png
HyperElasticity_3D/figs/fig_440.png
HyperElasticity_3D/figs/fig_441.png
HyperElasticity_3D/figs/fig_442.png
HyperElasticity_3D/figs/fig_443.png
HyperElasticity_3D/figs/fig_444.png
HyperElasticity_3D/figs/fig_445.png
HyperElasticity_3D/figs/fig_446.png
HyperElasticity_3D/figs/fig_447.png
HyperElasticity_3D/figs/fig_448.png
HyperElasticity_3D/figs/fig_449.png
HyperElasticity_3D/figs/fig_450.png
HyperElasticity_3D/figs/fig_451.png
HyperElasticity_3D/figs/fig_452.png
HyperElasticity_3D/figs/fig_453.png
HyperElasticity_3D/figs/fig_454.png
HyperElasticity_3D/figs/fig_455.png
HyperElasticity_3D/figs/fig_456.png
HyperElasticity_3D/figs/fig_457.png
HyperElasticity_3D/figs/fig_458.png
HyperElasticity_3D/figs/fig_459.png
HyperElasticity_3D/figs/fig_460.png
HyperElasticity_3D/figs/fig_461.png
HyperElasticity_3D/figs/fig_462.png
HyperElasticity_3D/figs/fig_463.png
HyperElasticity_3D/figs/fig_464.png
HyperElasticity_3D/figs/fig_465.png
HyperElasticity_3D/figs/fig_466.png
HyperElasticity_3D/figs/fig_467.png
HyperElasticity_3D/figs/fig_468.png
HyperElasticity_3D/figs/fig_469.png
pLaplace_1D/__pycache__/test_runner_1D.cpython-311-pytest-7.4.3.pyc
pLaplace_2D/__pycache__/test_runner_2D.cpython-311-pytest-7.4.3.pyc
HyperElasticity_3D/__pycache__/mesh.cpython-311.pyc
